<div align="center">
  <input [(ngModel)]="searchTerm" placeholder="Search for a card" />
  <button (click)="searchCard()">Search</button>
  </div>
<nav align="center">
  <ul>
    <button><a routerLink="/card/Endurance Bobblehead">Endurance Bobblehead</a></button>
    <button><a routerLink="/card/Rubblebelt Maaka">Rubblebelt Maaka</a></button>
    <button><a routerLink="/card/Cragganwick Cremator">Cragganwick Cremator</a></button>
    <button><a routerLink="/card/Body Double">Body Double</a></button>
    <button><a routerLink="/card/Sakura-Tribe Scout">Sakura-Tribe Scout</a></button>
  </ul>
</nav>
<br>

<router-outlet></router-outlet>